.meme {
  &__image {
    width: 100%;
    position: relative;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__more {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 0;
  }

  &__like {
    &--liked {
      color: $coin_color;
    }
  }
}
