@import "../../styles/colors.scss";

.skeleton {
  background-color: $bg_color;
  animation: pulse 2s ease-in-out infinite;

  .light {
    background-color: #e0e0e0;
  }

  .dark {
    background-color: $bg_color;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
