@import "@styles/colors.scss";

.selector {
  padding: 0.5rem;
  margin-top: 0.75rem;
  background-color: $secondary_bg_color !important;
  box-sizing: border-box;

  &__item {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    &__chip {
      cursor: pointer;
      text-align: center;

      transition: all 0.2s ease;
    }
  }
}
