.chip {
  height: 2rem;
  border-radius: 1.5rem;
  background-color: #f3f4f6 !important;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  color: #6b7280 !important;
  position: relative;

  &--active {
    color: $button_text_color !important;
    background-color: $coin_color !important;
  }

  &--disabled {
    background-color: #b3b3b3 !important;
    // color:   !important;
  }
}
