@import "../../styles/colors.scss";

.coming {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $text_color;
    animation: titleAnimation 2s infinite;

    &--mark {
      color: $coin_color;
    }
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
